.wrapper {
    padding-top: 50px;
    background: rgb(194, 199, 201);
    /* height: 100%; */
    padding: 30px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-content: flex-start;
    overflow: auto;
}