.card {
    background: rgb(131, 132, 133);
    border-radius: 2px;
    height: 300px;
    margin: 2rem;
    position: relative;
    width: 200px;
    box-shadow: 0 6px 12px #999, 0 6px 12px #999;
    text-align: left;
}
  
.card > .img-container {
    height: 100%;
    overflow: hidden;
    text-align: center;
    background:black;
}

.card > .img-container > img {
    width: 100%
}
  
.card > .content {
    padding-left: 1rem;
    padding-right: 1rem;
    font-size: 15px;
}